<div>
    <h2 style="margin:10px">Tabela filmova</h2>
    <!--<button ng-click="dajFilmoveSve()">testDajFilmove</button>-->
    <!--<button ng-click="dajStranicu(5,0)">dajStranicu</button>-->
    <!--<button ng-click="dajStranicu(5,1)">dajStranicu2</button>-->
    <!--<button ng-click="dajStranicu(10,0)">dajStranicu</button>-->
    <!--<div ng-repeat="film in filmovi">-->
        <!--<span>naziv: {{film.naziv}}</span>-<span>ocjena: {{film.ocjena_filma}}</span>-->
    <!--</div>-->
    <!--<pre>{{filmoviSvi}}</pre>-->
    <!--<pre>{{trenutnaStranica}}</pre>-->
    <div style="margin:10px; padding: 10px;;">
    <table class="table table-striped" >
        <thead>
        <th>Naziv</th>
        <th>Link slike</th>
        <th>Ocjena</th>
        <th>Kratak opis</th>
        </thead>
        <tbody>
        <tr ng-repeat="film in filmovi">
            <td>{{film.naziv}}</td>
            <td><a href="{{film.slika}}" onclick="return false;">Link</a></td>
            <td>{{film.ocjena_filma}}</td>
            <td>{{film.zanr_filma}}</td>
        </tr>
        </tbody>
    </table>
    <uib-pagination total-items="trenutnaStranica.totalItems" ng-model="trenutnaStranica.page" ng-change="pageChanged()"></uib-pagination>
    </div>
</div>